#login {
    .btnLogin {
        .log{
            padding:3px;
            color:$color-text;
            background-color:$colorAz-claro;
            border:1px solid $colorAz-oscuro;
            cursor: pointer;

            &:hover{
                @include colorAz_hover;
                border:1px solid $colorAz-claro;
            }
        }

    }
}

.masiva{
    #btAceptar{
        float: right;
        margin: 5%;
        width: 20%;
        height: 25px;
        cursor: pointer;
        border: 2px solid $colorAz-oscuro;
        border-radius: 10px;
        transition: 1s linear;

        &:hover{
            background-color: $colorAz-claro;
            color: $color-text-hover;
            transform: scale(1.1);
        }
    }
}

.btAlta{
    width: 5%;
    height: 25px;
    cursor: pointer;
    border: 2px solid $colorAz-oscuro;
    border-radius: 10px;
    transition: 1s linear;

    &:hover{
        background-color: $colorAz-claro;
        color: $color-text-hover;
        transform: scale(1.1);
    }
}

.btnExam{
    clear: both;
    float: right;
    width: 5%;
    height: 25px;
    cursor: pointer;
}