.btn {
    border: 0;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
    height: 40px;
    font-weight: 700;
    line-height: 40px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center
}